@model MarketplacePetProj.Models.ClientDTO

<form method="post" enctype="multipart/form-data">
    <div class="border p-5 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Изменить Профиль</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control mt-2">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control mt-2">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNum"></label>
            <input asp-for="PhoneNum" class="form-control mt-2">
            <span asp-validation-for="PhoneNum" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ImageFile">Выберите изображение</label>
            <input asp-for="ImageFile" type="file" class="f orm-control" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>