html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.card-img-top {
    height: 44vh; /* Задаем высоту в 44% от высоты экрана */
    object-fit: contain; /* Уменьшаем фотографию так, чтобы она полностью входила в рамку */
}

.card-body {
    position: relative; /* Устанавливаем позицию относительно для карточки */
}

.product-price {
    position: absolute; /* Устанавливаем абсолютное позиционирование для цены */
    top: 10px; /* Положение сверху */
    right: 5px; /* Положение справа */
    background-color: rgba(255, 255, 255, 0.7); /* Цвет фона с небольшой прозрачностью */
    padding: 5px 10px; /* Отступы вокруг цены */
    border-radius: 5px; /* Закругление углов */
    font-size: 18px;
    font-weight: bold; /* Увеличиваем размер шрифта */
    color: #ff0000; /* Яркий цвет текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Небольшая тень */
}

.add-to-cart-btn {
    position: absolute; /* Устанавливаем абсолютное позиционирование для кнопки */
    bottom: 5px; /* Положение снизу */
    left: 50%; /* Центрируем кнопку по горизонтали */
    transform: translateX(-50%); /* Сдвигаем кнопку влево на половину ее ширины */
}

.card-link {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: inherit; /* Наследуем цвет текста от родительского элемента */
}
.card {
    max-width: 80vh; /* Ширина рамки */
    margin: auto; /* Центрируем рамку по горизонтали */
}